// COLORS
$color-gray: #777;
$color-white: #ffffff;
$color-black: #000000;

// MAIN

$color-bg: #611f1f;
// $color-main: rgba(24, 2, 2, 0.808);
$color-main: rgba(31, 1, 1, 0.808);
$color-main-mobile: rgba(31, 1, 1);
$color-light-red: rgb(226, 54, 54);
$color-pale-red: rgb(232, 69, 69);
$color-span: #c26565;

// @media (prefers-color-scheme:dark) {
// 	body {
// 		background: #000000;
// 		color: $color-white;
// 	}
// }